<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不同条件下不良反应词云图</title>
    <link href="/static/css/c.css" rel="stylesheet"/>
</head>


<body style=" background-image: url(../static/images/bgc.jpg) ;background-repeat:no-repeat ;background-size:100% 100%;
background-attachment: fixed;">
<div id="title">不同条件下不良反应词云图</div>

<script type="text/javascript" language="javascript">
	function show() {
	document.getElementById("headimg").src = document.getElementById("selection").value;
}
</script>

<select style="width:200px;font-size: 40px;position:absolute;left:620px;top:70px;" id="selection" onchange="show()">
	<option value="/static/images/c/不良反应症状整体情况.png">不良反应症状整体情况</option>
	<option value="/static/images/c/按年龄-30岁以下.png">按年龄-30岁以下</option>
	<option value="/static/images/c/按年龄-30至60岁.png">按年龄-30至60岁</option>
	<option value="/static/images/c/按年龄-60岁以上.png">按年龄-60岁以上</option>
	<option value="/static/images/c/按性别-男.png">按性别-男</option>
	<option value="/static/images/c/按性别-女.png">按性别-女</option>
</select>


<img id="headimg" src="/static/images/c/不良反应症状整体情况.png" alt="" style="width:1000px;height:680px;position:absolute;left:220px;top:120px;"/>


</body>
</html>
