body {
	margin: 0;
	font-weight: 800;
}

#title {
	position: absolute;
	width: 60%;
	height: 10%;
	top: 0;
	left: 20%;
	/* background: #666666; */
	color: white;
	font-size: 40px;

	display: flex;
	align-items: center;
	justify-content: center;
}
